doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageName}
    body 
        h1 Hi! Please sign up!
        form(action="/api/users/sign-up" method="POST")
            label(for="username") Username
            input(type="text", name="username", id="username", required)

            label(for="email") Email
            input(type="email", name="email", id="email", required)

            label(for="password") Password
            input(type="password", name="password", id="password", required)
            button(type="submit") Sign Up
        form(action="/api/users/sign-in" method="POST")
            label(for="username") Username
            input(type="text", name="username", id="username", required)

            label(for="password") Password
            input(type="password", name="password", id="password", required)
            button(type="submit") Sign In